[Unit]
Description=uWSGI prj040818 Service server instance
After=syslog.target

[Service]
# ExecStart=/usr/local/bin/uwsgi --ini-paste /home/dante/webapps/prj040818/prj040818/production.ini
ExecStart=/home/dante/.local/bin/uwsgi --ini-paste /home/dante/webapps/prj040818/prj040818/production.ini
# Requires systemd version 211 or newer
RuntimeDirectory=/home/dante/webapps/prj040818/prj040818/
Restart=always
KillSignal=SIGQUIT
Type=notify
StandardError=syslog
NotifyAccess=all

[Install]
WantedBy=multi-user.target